version: '3'

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile.app
    ports:
      - "8080:8080"
    links:
      - db
    environment:
      DB_DSN: root:ldk3IlkD9@tcp(db:3306)/tikihackathon?timeout=10s&parseTime=true
  db:
    image: mysql
    ports:
      - "3306:3306"
    environment:
      MYSQL_ROOT_PASSWORD: ldk3IlkD9
      MYSQL_DATABASE: tikihackathon
    volumes:
      - tikihackathonvolume:/var/lib/mysql
#  nginx:
#    image: nginx:latest
#    ports:
#      - "80:80"
#      - "443:443"
#    volumes:
#      - ./certs:/etc/nginx/certs
#      - ./nginx.conf:/etc/nginx/nginx.conf
volumes:
  tikihackathonvolume: